{
  "comments": false,
  "presets":[["@babel/preset-env",
    {
      "targets":{
        "node": true
      },
      "useBuiltIns": "usage" 
    }]],
  "plugins": ["@babel/plugin-transform-runtime"]
}
